*.jks
*.keystore
.claude/
.gradle/
.kotlin/
build/
local.properties

# Ignore all IDEA files, except those excluded below
.idea/*
!.idea/codeInsightSettings.xml
!.idea/detekt.xml
!.idea/icon.png
!.idea/icon_dark.png

# API secrets
*.private.env.json

# Atlas charts
*.dot
