.gradle/
.kotlin/
build/
local.properties

# Keystore files
*.keystore
*.jks

# Ignore all IDEA files, except those excluded below
.idea/*
!.idea/codeInsightSettings.xml
!.idea/detekt.xml
!.idea/icon.png
!.idea/icon_dark.png

# CI
dependency-graph-reports/

# API secrets
*.private.env.json
