{
  "dev": {
    "ACTUAL_BASE_URL": "https://url.of.my.server.com",
    "ACTUAL_TOKEN": "cd0892fb-063e-4cce-ab4a-a3c85fc3280c",
    "ACTUAL_PASSWORD": "P@ssw0rd",
    "ACTUAL_MAIN_FILE_ID": "6b76ed8e-88f7-4d09-bff3-1a20e62218dc",
    "ACTUAL_TEST_FILE_ID": "df27643d-5fcf-4a3a-a535-6feaaa1bf592"
  }
}
